.card {
    position: absolute;
    padding: 5%;
    background-color: #3F494F;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-form {
    display: flex;
    gap: 1rem;
}

.poke-search {
    width: 100%;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.search-icon {
    background-color: transparent;
    border: none;
}

.search-icon:hover {
    cursor: pointer;
}

.card-content {
    display: flex;
}

.card__img {
    width: 50%;
}

.card__text {
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}



